<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bellerophon</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="./index.css">

</head>
<body>


<script src="../node_modules/codemirror/lib/codemirror.js"></script>

<!--
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script type="application/javascript">
	if (typeof module === 'object' && typeof module.exports !== 'undefined') {
		window.$ = window.jQuery = module.exports;
	}
</script>
-->
<!--<script>require('./ui.js')</script>-->
</body>
</html>

