.panel {
	/*min-width: 40em;*/
}

.panel-body {
	/*(word-break:break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display : flex*/
}

.panel-body table {
	table-layout:fixed;
}

.panel-body table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.navbar {
	background: white;
}

.group {
	/*background: yellow;*/
	/*width: 400px;
	padding-left: 30px;*/
	/*height: 1000px;*/
}

/*
.group .subgroup {
	width: 500px;
	height: 200px;
}
*/
.fixed {
	position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bs-docs-sidebar .nav>li {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
	color: #999;
	border-left: 2px solid transparent;
	padding: 4px 20px;
	font-size: 12px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
	padding-left: 25px;
	font-size: 11px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
	color: #000000;
	text-decoration: none;
	background-color: transparent;
	/*border-left-color: #563d7c;*/
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
	font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
	font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
	display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
	display: block;
}

/*Header formatting */
.MainContent {
	margin-top: 20px;
}
.group, .subgroup {
	padding-top: 50px;
	margin-top: -50px;
}

#templateButton {
	margin-bottom: 5px;
	margin-top: 10px;
}

.glyphicon-refresh {
	padding-left: 30px;
}

.tooltip-inner {
	text-align: left;
}

.panel-warning > .panel-heading {
	background-color: #FF9900;
}

@font-face {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 400;
	src: local('Poiret One'), local('PoiretOne-Regular'), url('../fonts/poiretone.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#logoHeader {
	/*padding-right: 0px;*/
	font-family: 'Poiret One', cursive;
	font-size: 22px;
	color: #0052ff;
	float: right;
	padding-bottom: 10px;
}

#logoHeader > span {
	padding-left: 5px;
}
